<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <style>
      input.ng-invalid {
        background-color: red;
      }
    </style>
  </head>
  <body>

    <div ng-app="myApp" ng-controller="myCtrl">
      <form name="myForm">
        Name: <input name="myName" ng-model="name">
        <p>The name is {{name}}</p>
        Email: <input type="email" name="myEmail" ng-model="em">
        <span ng-show="myForm.myEmail.$error.email">Not a valid email address</span>
        <h1>Status</h1>
        {{myForm.myEmail.$valid}}
        {{myForm.myEmail.$dirty}}
        {{myForm.myEmail.$touched}}
      </form>

      <h1>Target Stores</h1>
      <textarea ng-model="edit.target_stores" row="10"></textarea>
      <button ng-click="updateTargets()">Update</button>
      <select name="multiSelect" ng-model="edit.related_brands" multiple ng-options="b.name for b in brands"></select>
      <div ng-repeat="b in edit.related_brands">
        <h1>{{b.name}}</h1>
        <p ng-repeat="s in b.stores">
          <input style="width:30px;height:30px" type="checkbox" ng-model="s.in_article" ng-change="checkStore(s)">
          {{s.name}}
        </p>
      </div>
    </div>

  </body>
  <script src="02_app.module.js"></script>
  <script src="02_app.controller.js"></script>
</html>
