<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="todo.module.js"></script>
    <script src="todo.controller.js"></script>
    <style>
      input.ng-invalid {
        background-color:lightpink;
      }
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      Next todo: <input type="text" name="next" ng-model="next" ng-keypress="checkKeyPress($event)" required>
      <button ng-click="addTodo()">Add</button>
      <h3>To Do</h3>
      <ul>
        <li style="list-style-type:none" ng-repeat="item in todoList">
          <span ng-mouseenter="deleteToDoBtn=true" ng-mouseleave="deleteToDoBtn=false" ng-click="edit[$index]=true">
            <input type="checkbox" ng-click="addDone(item,$index)">
            <span ng-show="!edit[$index]">{{item | capitalize}}</span>
            <input type="text" value="{{item | capitalize}}" ng-show="edit[$index]" ng-keypress="checkKeyPress($event, $index)" required>
            <button ng-show="deleteToDoBtn" ng-click="deleteTodo($index)">X</button>
          </span>
        </li>
      </ul>
      <h3>Done</h3>
      <ul>
        <li style="text-decoration:line-through; cursor:pointer" ng-repeat="item in doneList">
          <span ng-mouseenter="deleteDoneBtn=true" ng-mouseleave="deleteDoneBtn=false" ng-click="undone(item,$index)">
            {{item | capitalize}}
            <button ng-show="deleteDoneBtn" ng-click="deleteDone($index)">X</button>
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>
